<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">Logo</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
        <i class="fa fa-user fa-fw"></i>
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>{{firstName}}</strong></span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="#" class="w3-bar-item w3-button w3-padding  w3-blue"><i class="fa fa-weight-hanging fa-fw"></i>  Favorite Gyms</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-walking fa-fw"></i>  Favorite OutDoor Workouts</a>
    <a class="navbar-brand" href="/logout">Logout</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main container" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">

      <h1 id="name">Welcome To NYS Quarentine Coach {{firstName}} {{lastName}}</h1>
      <br>
      <h2>Gym's in your area (County: {{county}}) can be open according to NYS COVID-19 regulations. (Information Gathered From NYS COVID-19 Api).</h2>
  </header>


    <div class="row">
      <div class="col-md-6">
    <h2>Current Inffection Rate: {{covidRate}}% </h2>
      </div>
      <div class="col-md-6">
      <div id="map">
      </div>
      </div>
  </div>
  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>FOOTER</h4>
  </footer>

  <!-- End page content -->
</div>


<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}

</script>

<script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwqTBhoX7bakYR20wCIeTi1sfAFzmRXpM&callback=initMap&libraries=&v=weekly">
</script>

    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const newYork = { lat: 43.2294, lng: -74.2179 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: newYork,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: newYork,
          map: map,
        });
      }
    </script>

{{!-- <script type="text/javascript" src="js/account.js"></script> --}}
